PORT=4000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/vtf_gestion?schema=public"
JWT_SECRET="vtf-gestion-super-secret-key-2026-production-ready"
JWT_EXPIRES_IN="8h"
CORS_ORIGIN="http://localhost:5173"
